body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(images/macbook.jpg);
  background-size: cover;
}

nav {
  background-color: #ebebeb;
  position: fixed;
  width: 100%;
  text-align: right;
  z-index: 1;
}

nav li {
  display: inline;
  padding-right: 35px;
}

nav li:first-child {
  float: left;
  border: none;
}

nav a {
  text-decoration: none;
  color: black;
}

.slider {
  /* width: 100%; */
  /* height: 450px; */
  /* position: absolute;
top: 25%;
left: 45%;
margin-right: -50%;
transform: translate(-45%, -75%); */
  padding-left: 20%;
  padding-top: 80px;
  padding-bottom: 10px;
  /* opacity: 0.5 */
}

.description {
  width: 900px;
  text-align: center;
  color: #e8ffff;
  padding-top: 11px;
  padding-bottom: 20px;
}

.description p {
  font-size: 26px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Noto Sans KR', sans-serif;
}

.slider img {
  width: 920px;
  max-height: 450px;

}

main {
  background-color: #ebebeb;
  width: 100%;
  left: 0;
}

.items {
  /* opacity: 0.9; */
  display: flex;
  width: 78%;
  margin-left: 10px;
  flex-wrap: wrap;
  padding-left: 10px;
  justify-content: space-around;
  padding-top: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}

#firstItem:hover {
  transform: scale(1.1);
  background-color: lightgrey;
  border-radius: 10px;
}
#secondItem:hover {
  transform: scale(1.1);
  background-color: lightgrey;
  border-radius: 10px;
}
#thirdItem:hover {
  transform: scale(1.1);
  background-color: lightgrey;
  border-radius: 10px;
}
#fourthItem:hover {
  transform: scale(1.1);
  background-color: lightgrey;
  border-radius: 10px;
}
#fifthItem:hover {
  transform: scale(1.1);
  background-color: lightgrey;
  border-radius: 10px;
}
#sixthItem:hover {
  transform: scale(1.1);
  background-color: lightgrey;
  border-radius: 10px;
}
.items img {
  width: 380px;
  height: 250px;
  /* padding-top: 10px; */
}

.itemText {
  overflow: hidden;
  height: 197px;
}

#firstItem, #secondItem, #thirdItem, #fourthItem, #fifthItem, #sixthItem {
  width: 380px;
  margin-bottom: 10px;
}
.items a{
    text-decoration: none;
    color: inherit;
}
#allposts a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.sidebar {
  float: right;
  width: 20%;
  margin-top: -850px;
}

table {
  width: 100%;
  height: 300px;
  text-align: center;
}

table, tr, td {
  border: 1px solid black;
  /* background-color: #f1f1c1; */
}

th {
  background-color: white;
}

tr:nth-child(2n) {
  background-color: yellow;
}

tr:nth-child(2n+1) {
  background-color: red;
}

footer {
  text-align: center;
}

footer ul {
  padding-inline-start: 0px;
}

footer li {
  display: inline-block;
}

footer img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.maps {
  padding-top: 9%;
  padding-bottom: 8%;
  margin-left: 35%;
}

/* MEDIA */

@media (max-width: 2000px) and (min-width: 1480px){

  .slider{
    padding-left: 23%;
    }
  .items{
    width: 78%;
  }
  #allposts{
    text-align: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
  }
  .sidebar{
    padding-right: 10px;
  }
}

@media(min-width: 1025px) and (max-width: 1479px){
.slider{
  padding-left: 18%;
}
.slider img {
  width: 720px;
  height: 350px;
}
.items{
width: 75%;

}
.sidebar{
  margin-top: -1200px;
  padding-right: 10px;
}
.description {
    width: 720px;
}
.description p{
        font-size: 18px;
}
#allposts{
  text-align: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
}
}

@media (max-width: 1030px) and (min-width: 1014px){
.sidebar{
margin-top: -1200px;
padding-right: 10px;
}
.slider{
  padding-left: 18%;
}
.slider img {
width: 720px;
height: 350px;
}
.description {
    width: 720px;
}
.description p{
        font-size: 18px;
}
.items{
  width: 70%;
}
#firstItem, #secondItem, #thirdItem, #fourthItem, #fifthItem, #sixthItem {
  width: 330px;
  margin-bottom: 10px;
}
.items img {
  width: 330px;
  height: 230px;
  /* padding-top: 10px; */
}
#allposts{
  text-align: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
}
h2{
  font-size: 17px;
}
.items p{
      font-size: 14px;
}
}
@media (max-width: 1014px) {
.items{
  width: 70%;
}
#firstItem, #secondItem, #thirdItem, #fourthItem, #fifthItem, #sixthItem {
  width: 330px;
  margin-bottom: 10px;
}
.items img {
  width: 330px;
  height: 230px;
  /* padding-top: 10px; */
}
#allposts{
  text-align: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
}
h2{
  font-size: 17px;
}
.items p{
      font-size: 14px;
}
/* #firstItem, #secondItem, #thirdItem, #fourthItem, #fifthItem, #sixthItem {
  width: 330px;
} */
.slider{
    padding-left: 18%;
}
.slider img {
  width: 720px;
  height: 350px;
}
  .description {
      width: 720px;
  }
  .description p{
          font-size: 18px;
  }
  .sidebar{
    margin-top: -1200px;
    padding-right: 10px;
  }
}
@media (max-width:960px) {
.items{
  width: 70%;
}
#firstItem, #secondItem, #thirdItem, #fourthItem, #fifthItem, #sixthItem {
  width: 300px;
  margin-bottom: 10px;
}
.items img {
  width: 300px;
  height: 230px;
  /* padding-top: 10px; */
}
h2{
  font-size: 17px;
}
.items p{
      font-size: 14px;
}
}

@media (max-width: 500px) {
/* для мобайл */
}
