body {
  margin: 0;
  padding: 0;
}

.sliderI {
  display: none;
}

input[id^="slider-point-"] {
  display: inline;
}

#slider-point-1:checked~.mainCarousel .sliderI:nth-child(-n+4) {
  display: inline-block;
}

#slider-point-2:checked~.mainCarousel .sliderI:nth-child(-n+5) {
  display: inline-block;
}

#slider-point-2:checked~.mainCarousel .sliderI:first-child {
  display: none;
}

#slider-point-3:checked~.mainCarousel .sliderI:nth-child(n+3) {
  display: inline-block;
}

#slider-point-3:checked~.mainCarousel .sliderI:nth-last-child(-n+2) {
  display: none;
}

header {
  background-image: url(images/macbook.jpg);
  background-size: cover;
}

nav {
  background-color: #ebebeb;
  position: fixed;
  width: 100%;
  text-align: right;
  z-index: 1;
  list-style-type: none;
}

nav li {
  display: inline;
  padding-right: 35px;
}

nav li:first-child {
  float: left;
  border: none;
}

nav ul li+li:after {
  margin-left: 10px;
  padding-left: 10px;
  content: "|";
}

nav a {
  text-decoration: none;
  color: black;
}

.show-menu, #show-menu {
  display: none;
}

.slider {
  width: 1300px;
  padding-top: 60px;
  padding-bottom: 10px;
  /* opacity: 0.5 */
  margin-left: 20%;
}

.description {
  width: 900px;
  text-align: center;
  color: #e8ffff;
  margin-left: 50px;
}

.description p {
  font-size: 24px;
  /* padding-top: 10px; */
  padding-bottom: 20px;
  font-family: 'Noto Sans KR', sans-serif;
}

.slider img {
  width: 500px;
  height: 320px;
}

main {
  background-color: #ebebeb;
  width: 100%;
  left: 0;
}

.items {
  /* opacity: 0.9; */
  display: flex;
  width: 78%;
  margin-left: 10px;
  flex-wrap: wrap;
  padding-left: 10px;
  justify-content: space-around;
  padding-top: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}

#firstItem:hover {
  transform: scale(1.1);
  background-color: lightgrey;
  border-radius: 10px;
}

#secondItem:hover {
  transform: scale(1.1);
  background-color: lightgrey;
  border-radius: 10px;
}

#thirdItem:hover {
  transform: scale(1.1);
  background-color: lightgrey;
  border-radius: 10px;
}

#fourthItem:hover {
  transform: scale(1.1);
  background-color: lightgrey;
  border-radius: 10px;
}

#fifthItem:hover {
  transform: scale(1.1);
  background-color: lightgrey;
  border-radius: 10px;
}

#sixthItem:hover {
  transform: scale(1.1);
  background-color: lightgrey;
  border-radius: 10px;
}

.items img {
  width: 380px;
  height: 250px;
  /* padding-top: 10px; */
}

.itemText {
  overflow: hidden;
  height: 206px;
}

.itemText p {
  margin-top: -10px;
}

#firstItem, #secondItem, #thirdItem, #fourthItem, #fifthItem, #sixthItem {
  width: 380px;
  margin-bottom: 10px;
}

.items a {
  text-decoration: none;
  color: inherit;
}

#allposts a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.sidebar {
  float: right;
  width: 20%;
  margin-top: -850px;
}

table {
  width: 100%;
  height: 300px;
  text-align: center;
}

table, tr, td {
  border: 1px solid black;
  border-radius: 10px;
}

th {
  background-color: white;
}

tr:nth-child(2n) {
  background-color: #a6ecdc;
}

tr:nth-child(2n+1) {
  background-color: #a6ecdd;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}


footer {
  text-align: center;
}

footer ul {
  padding-inline-start: 0px;
}

footer li {
  display: inline-block;
}

footer img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.maps {
  padding-top: 5%;
  padding-bottom: 8%;
  margin-left: 35%;
}

.separator {
  margin-top: -264px;
}

#allposts {
  text-align: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

#contactForm {
  background-color: #44A36F;
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
  margin-top: -4px;
}

#contactForm img {
  width: 20px;
}

.form-control {
  width: 350px;
  height: 30px;
}

/* MEDIA */
@media (min-width: 2200px) {
  nav {
    width: 79%;
  }

  body {
    width: 79%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 1900px) and (min-width: 1480px) {
  .slider {
    /* padding-left: 23%; */
    width: 1100px;
  }

  .items {
    width: 78%;
  }

  #allposts {
    text-align: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
  }

  .sidebar {
    padding-right: 10px;
  }
}

@media(min-width: 1030px) and (max-width: 1480px) {
  .slider {
    margin-left: 18%;
    width: 840px;
  }

  .slider img {
    width: 400px;
    height: 240px;
  }

  .items {
    width: 75%;
  }

  .sidebar {
    margin-top: -1200px;
    padding-right: 10px;
  }

  .description {
    width: 720px;
  }

  .description p {
    font-size: 18px;
  }

  #allposts {
    text-align: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
  }
}

@media (max-width: 1030px) and (min-width: 1014px) {
  .sidebar {
    margin-top: -1200px;
    padding-right: 10px;
  }

  .slider {
    margin-left: 9%;
    width: 840px;
  }

  .slider img {
    width: 400px;
    height: 240px;
  }

  .description {
    width: 720px;
  }

  .description p {
    font-size: 18px;
  }

  .items {
    width: 70%;
  }

  #firstItem, #secondItem, #thirdItem, #fourthItem, #fifthItem, #sixthItem {
    width: 330px;
    margin-bottom: 10px;
  }

  .items img {
    width: 330px;
    height: 230px;
    /* padding-top: 10px; */
  }

  #allposts {
    text-align: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
  }

  h2 {
    font-size: 17px;
  }

  .items p {
    font-size: 14px;
  }
}

@media (max-width: 1014px) {
  .items {
    width: 70%;
  }

  #firstItem, #secondItem, #thirdItem, #fourthItem, #fifthItem, #sixthItem {
    width: 330px;
    margin-bottom: 10px;
  }

  .items img {
    width: 330px;
    height: 230px;
    /* padding-top: 10px; */
  }

  #allposts {
    text-align: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
  }

  h2 {
    font-size: 17px;
  }

  .items p {
    font-size: 14px;
  }

  /* #firstItem, #secondItem, #thirdItem, #fourthItem, #fifthItem, #sixthItem {
  width: 330px;
} */
  .slider {
    margin-left: 5%;
    width: 840px;
  }

  .slider img {
    width: 400px;
    height: 240px;
  }

  .description {
    width: 720px;
  }

  .description p {
    font-size: 18px;
  }

  .sidebar {
    margin-top: -1200px;
    padding-right: 10px;
  }
}

@media (max-width:960px) {
  .items {
    width: 90%;
    padding-left: 5%;
  }

  .items img {
    width: 420px;
    height: 280px;
  }

  #firstItem, #secondItem, #thirdItem, #fourthItem, #fifthItem, #sixthItem {
    width: 420px;
  }

  h2 {
    font-size: 17px;
  }

  .items p {
    font-size: 14px;
  }

  .slider {
    margin-left: 10%;
    width: 740px;
  }

  .slider img {
    width: 360px;
    height: 240px;
  }

  .description {
    width: 740px;
    font-size: 15px;
    margin-left: -10px;
  }

  body {
    background-color: #ebebeb;
  }

  .sidebar {
    background-color: #ebebeb;
    float: none;
    width: 90%;
    margin-top: 0px;
    margin-left: 8%;
  }

  table {
    width: 75%;
    margin-left: 10%;
  }

  table:last-child {
    margin-bottom: 10px;
  }

  footer {
    background-color: white;
  }

  .maps {
    padding-top: 10%;
    padding-bottom: 15%;
    margin-left: 0;
  }
}

@media(max-width: 850px) {
  .slider {
    width: 520px;
    padding-left: 2%;
  }

  .slider img {
    width: 250px;
    height: 155px;
  }

  .description {
    width: 500px;
  }
}

/* для мобайл */
@media (max-width: 600px) {
  .show-menu {
    /* display: inline; */
    /* text-decoration: none; */
    /* color: black; */
    background: #ebebeb;
    text-align: center;
    padding-top: 20px;
    height: 20px;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  /*Display 'show menu' link*/
  .show-menu {
    display: block;
  }

  /*Show menu when invisible checkbox is checked*/
  input[type=checkbox]:checked~#menu {
    display: none;
    text-align: center;
    width: 80%;
  }

  .items {
    width: 80%;
    padding-left: 10%;
  }

  .items img {
    width: 400px;
    height: 270px;
  }

  #firstItem, #secondItem, #thirdItem, #fourthItem, #fifthItem, #sixthItem {
    width: 400px;
  }

  nav li {
    padding-right: 19px;
  }

  body {
    background-color: #ebebeb;
  }

  .sidebar {
    background-color: #ebebeb;
    float: none;
    width: 90%;
    margin-top: 0px;
    margin-left: 3%;
  }

  table {
    width: 90%;
  }

  .maps {
    padding-top: 10%;
    padding-bottom: 15%;
    margin-left: 10%;
  }

  .separator {
    margin-top: -273px;
  }

  .slider {
    width: 400px;
    padding-left: 2%;
  }

  .slider img {
    width: 198px;
    height: 144px;
  }

  .description {
    width: 420px;
  }
}

@media (max-width: 535px) {
  .maps {
    padding-top: 10%;
    padding-bottom: 15%;
    margin-left: 0;
  }

  #contactForm {
    padding-bottom: 4px;
  }

  .slider {
    width: 93%;
    margin-left: 4%;
  }

  .slider img {
    width: 200px;
    height: 150px;
  }
}
